<div class="card_espaco" id="card1">
    <h1>Extra</h1>
    <h3>Nossa missão é trazer a melhor experiência possível para buscam viajar para diversos lugares com isso fizemos esse site de uma maneira que seja mais dinâmico possível
    sendo algo bem fácil e claro de entender facilitando a experiência do usuário. </h3>
    
</div>

<div class="Black_screen">
</div>

<div class="mini_screen">
    <button class="close" id="close_id" ng-click="CloseFunc()">X</button>
    <h1>Se inscreva na nossa Newslatter</h1>
    <h3>Insira o seu email para receber novas noticias</h3>
</div>

<div id="art1" class="articles_"></div>